.header {
  background-color: #007ced;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding: 15px;
  color: rgb(236, 236, 236);
}
.bottomMargin{
  margin: 0;
}
.footer {
  background-color: #cce7ff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.bodyStyle {
  font-size: 20px;
}

.searchBox {
  font-size: 20px;
  width: 55vw;
  margin: 10px;
}
.searchButton {
  width: 30vw;
  height: 30px;
}
.temperatureStyle {
  font-size: 26px;
}
.temperatureStyle p {
  font-size: 50px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperatureStyle img{
  height: 120px;
}
.listStyle {
  font-size: 22px;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.listStyle li {
  margin: 12px;
}

html, body, .container{
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container{
  background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}
#cloud-intro{
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
              url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
              url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
	animation: wind 80s linear infinite;
}
@keyframes wind{
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }

}